@charset "utf-8";
/* mobile.css서식 */
@media screen and (max-width:767px){
    
    header{
        height: 60px;
        position: relative;
    }
    .h_top{
        width: 100%;
        
    }
    .h_top h1{
        transform: none;/*pc에서 transform줘서 그걸 없앰*/
        width: 130px;
        margin: 0 auto;/*img는 인라인블럭인데 w130을 줬기때문에 텍스트얼라인센터말고 마진오토 줘야함*/
        padding-top: 4px;
    }
    i.fa-shopping-cart, label.fa-bars{
        display: block;
        position: absolute;top: 10px;
        font-size: 1.8rem;
        padding: 5px;
        color: #fff;
    }
    label.fa-bars{
        right: 0;
    }

    /* lnb서식 */
    .lnb{
        position: fixed;
        /* left: 0; */
        left: 100%;
        top: 500px;
        z-index: 1001;
        transition: 0.5s;

    }
    .lnb > ul{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .lnb > ul > li{
        width: 44%;
        display: inline-block;
        text-align: center;
        background: #818181;
        margin: 0;
        margin: 0 3px 3px 0;
    }
    .lnb > ul > li a{
        line-height: 40px;
        display: block;
    }

    .gnb > ul{
        width: 100%;
    }   

    /* 검색폼 서식 */
    header fieldset{
        position: fixed;
        width: 100%;
        /* left: 21%; */
        left: 100%;
        top: 6%;
        z-index: 1000;
        transition: 0.5s;

    }
    /* 모바일 내비게이션 서식 */
    .h_bottom{
        width: 100%;
        height: 100%;
        background: rgb(51, 51, 51);
        position: fixed;
        top: 0;left: 100%;
        transition: 0.5s;
    }
    .h_bottom:hover{height: 100%;}
    .close_btn{
        position: absolute;
        left: 2%;top: 1.2%;
        z-index: 1001;
    }
    .close_btn i{
        display: block;
        color: #fff;
        padding: 5px;
        font-size: 2rem;
    }
    .gnb{
        width: 100%;
        padding-top: 100px;
        background: none;
    }
    .gnb > ul{
        display: block;
        padding: 0 1.2%;
    }

    
    .gnb > ul > li{
        border-bottom: 1px solid #ccc;
        text-indent: 20px;
        text-align: left;
        padding: 0px;
    }
    .gnb > ul > li a::after{
        display: none;
    }
    .sub{display: none;}
    

    /* 햄버거 메뉴 클릭시 fieldset, lnb, h_bottom나오게 하기 */
    #toggle:checked + header .lnb{
        left: 0;
    }
    #toggle:checked + header fieldset{left:21%;}
    #toggle:checked + header > .h_bottom{left: 0;}



    
    /* 메인서식 */
    
    main .m_slide img{
        height: 630px;
    }


    /* 무료체험 */
    .free_ex{padding-top: 160px;}
    .free_ex > article{
        width: 100%;
        height: 400px;
        padding: 100px 0 40px 0;
        text-align: center;

        display: flex;
        flex-direction: column-reverse;/*플렉스 준 후 flex-direction으로 순서 바꿔줄 수 있음 */

    }
    .ex_right{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 40px;
    }
    .ex_right > h3{
    font-size: 1.6rem;
    font-weight: 300;
    padding-top: 30px;
    padding-bottom: 20px;
    }
    .free_ex > article > img{
        float: none;
        width: 75%;
        padding: 0;
        margin: 0 auto;
    }   
    
    .p01{
        font-size: 1rem;
        padding: 30px 0 40px 0;
    }


    /* product서식 */
    .product{
        width: 100%;
        overflow: hidden;
    }
    .product > h2{
        font-size: 1.5rem;
    }
    .product_list{
        margin-top: 70px;
        width: 150%;/*옆에 하나 더 있는 거 알려주기위해서 100%보다 더 크게 잡음*/
        overflow: hidden;
    }
    .product_list li{
        width: 75%;
        /* overflow: hidden; */

    }
    .product_list img{
        width: 170px;
    }
    .product .info{
        /* width: 100%; */
        /* overflow: hidden; */
    }
    .product .info h3{
        font-size: 0.9rem;
    }
    .product .info p{
        font-size: 0.75rem;
    }
    .price{
        font-size: 1rem;
        padding-top: 10px;
        
    }





    /* 스토리 서식 */
    .story{padding-bottom: 170px;}
    .story > article{
        width: 100%;
        text-align: center;
    }
    .story_left{
        padding: 0;
        float: none;
    }
    .story_left > h2{
        padding-top: 60px;
        padding-bottom: 30px;
        font-size: 1.8rem;
    }
    .story_left > p{
        font-size: 1rem;
        line-height: 30px;
        padding-bottom: 50px;
    }
    .story .s_img{
        float: none;
        width: 75%;
        padding:60px 0 30px 0;
    }


    /* 인스타갤러리 서식 */
    .gallery_wrap{
        width: 100%; 
        padding: 10px 0;
    }
    .gallery_wrap > h2{
        text-align: center;
        font-size: 1.8rem;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    /* 갤러리 그리드 레이아웃 */
    .gallery{
        width: 100%;
        grid-template-columns: repeat(2, auto);
    }
    .gallery li:nth-child(10), .gallery li:nth-child(11), .gallery li:last-child,.gallery li:nth-child(9), .gallery li:nth-child(8), .gallery li:nth-child(6){display: none;}
    .gallery > li{
        overflow: hidden;
        height: 130px;
    }


    /* 푸터서식 */
    .f_nav, .f_bottom, address{
        width: 100%;
    }
    .f_nav{
        font-size: 0.5rem;
        padding: 0 0.7%;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
    }
    .f_nav > ul{
        display: flex;
        justify-content: space-around;
        order: 2;
    }
    .f_nav li{width: 100px;}
    .f_nav > dl{
        order: 1;
        width: 100%;
        justify-content: center;
        height: 60px;
    }
    .f_nav > dl > dt{width: 50px;}
    .f_nav > dl > dd{padding-left: 10px;}
    .f_nav dl span{padding-left: 10px;}
    
    .f_bottom{
        display: block;
        padding: 0 0.8%;
        padding-top: 150px;
        position: relative;
    }
    .f_bottom dl{
        float: left;
        line-height: 260%;
        padding-left: 3%;
    }
    .f_bottom dt{
        font-size: 0.6rem;
    }
    .f_bottom dd{
        font-size: 0.6rem;
    }
    dd.tel{
        font-size: 1.5rem;
    }
    .f_bottom select{
        position: absolute;top: 56px;
        left: 50%;transform: translateX(-50%);/*pos앱솔일 때는 마진auto안먹음, 그래서 중앙정렬하고 싶을 때, l:50%, transform translate 해야함*/
    }
    .sns{
        position: absolute;top: 84px;
        left: 50%;transform: translateX(-50%);
    }
    address{
        display: inline-block;
        margin-top: 90px;
        height: 300px;
        padding:10px 2%;
        box-sizing: border-box;
    }
    .a_info, .a_pay{
        width: 100%;
        padding-bottom: 20px;
        margin: 0;
    }
    dd a{color: #fff;}
}