@charset "utf-8";
/* tablet.css서식 */
@media screen and (min-width:768px) and (max-width:1024px){
    header{
        height: 160px;
    }
    .h_top{
        width: 100%;
    }
    .h_top h1{
        transform: translate(10px, 30px);
    }
    .gnb > ul{
        width: 100%;
        justify-content: start;
    }
    .gnb > ul > li{
        padding:0 3.2%;
    }
    .gnb > ul >li:first-child> a:after{left: 70px;}
    .gnb > ul >li:nth-child(2)> a:after{left: 80px;}
    .gnb > ul >li:nth-child(3)> a:after{left: 60px;}
    .gnb > ul >li:nth-child(4)> a:after{left: 50px;}
    .gnb > ul >li:nth-child(5)> a:after{left: 70px;}
    .gnb > ul >li:nth-child(6)> a:after{left: 100px;}

    label.fa-bars{
        display: block;
        font-size: 36px;
        position: absolute;right: 3%;top: 123px;
        z-index: 100;
    }

    .h_bottom{
        transition: none;
    }
    /* 햄버거 아이콘 터치시 .h_bottom의 높이를 조절하여 서브메뉴가 보이도록 하고 다시 햄버거 메뉴 클릭시 높이값을 조절하여 숨겨지도록한다. */
    #toggle:checked + header .h_bottom{
        height: 430px;
    }

    
    /* 메인 슬라이드 서식 */
    main .m_slide img{
        height: 600px;
    }

    /* 무료체험 서식 */
    .free_ex > article{
        width: 100%;height: 400px;
    }
    .free_ex > article > img{
        width: 320px;
        padding: 30px 0 0 3%;
    }
    .ex_right{
        width: 400px;
    }
    .ex_right > h3{
        font-size: 1.5rem;/*폰트 사이즈는 가변단위 줘야함, pc에서 34px이었고 지금은 24px로 주기위해서 16*1.5=24*/
        padding-bottom: 30px;
        padding-top: 10px;
    }
    .p01{padding: 20px 0 70px 0;}

    /* 하림펫 쇼핑하러 가기 */
    .story{height: 500px;}
    .product{
        width: 100%;
    }
    .product > h2{
        font-size: 1.5rem;
    }
    .product_list{
        margin-top: 70px;
    }
    .product_list img{
        width: 200px;
    }

    /* 하림펫스토리 */
    .story > article{width: 100%;}
    .story_left > h2{
        font-size: 2rem;
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .story .s_img{
        width: 340px;
        padding: 70px 60px 0 0;
    }

    /* 인스타 갤러리 서식 */
    .gallery_wrap{
        width: 100%;
        padding: 25px 0;
    }
    .gallery_wrap > h2{
        text-align: center;
        font-size: 1.6rem;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    /* 갤러리 그리드 레이아웃 */
    .gallery{
        width: 100%;
        grid-template-columns: repeat(3, auto);
    }
    .gallery > li{
        overflow: hidden;
        height: 150px;/*인스타 사진 높이 조절*/
    }
    .gallery li:nth-child(10), .gallery li:nth-child(11), .gallery li:last-child{display: none;}/*인스타 사진 3개 지우기위해서 없애줌*/

    /* 푸터서식 */
    .f_nav, .f_bottom, address{
        width: 100%;
    }
    .f_nav{
        font-size: 0.8rem;
        padding: 0 0.7%;
        box-sizing: border-box;
    }
    .f_nav > ul{
        display: flex;
        justify-content: space-around;
    }
    .f_nav li{width: 100px;}
    .f_bottom{
        display: block;
        padding: 0 0.8%;
        box-sizing: border-box;
        position: relative;
    }
    .f_bottom dl{float: left;}
    .f_bottom dt{
        font-size: 1.2rem;
    }
    .f_bottom dd{
        font-size: 1rem;
    }
    dd.tel{
        font-size: 2rem;
    }
    .f_bottom select{
        position: absolute;top: 30px;right: 10px;
    }
    .sns{
        position: absolute;top: 60px;right: 10px;
    }
    address{
        margin-top: 130px;
        height: 160px;
        padding:10px 2%;
        box-sizing: border-box;
    }
}